<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<body>
    <div>
        <h1 th:text="'List of Veterinarians'"></h1>
        <table id="vets" class="table table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vet : ${vetList}">
                <td th:text="${vet.getId()}"></td>
                <td th:text="${vet.getFirstName()}"></td>
                <td th:text="${vet.getLastName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>