<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Raxit Pet Clinic - Our Vets</title>
</head>
<body>
    <div>
        <h1 th:text="'List of Vets'"></h1>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vet : ${vetList}">
                <td th:text="${vet.getId()}"></td>
                <td th:text="${vet.getFirstName()}"></td>
                <td th:text="${vet.getLastName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>